---

---

<section class="min-h-screen w-full flex justify-center items-center" id="About">
  <article class="w-[900px] bg-white text-black rounded-lg flex justify-between p-6">
    <div>
      <h1 class="text-3xl">About me</h1>
      <br />
      <p>
        Soy Becerra Tobías, recibiendo siempre la pregunta si tengo algún
        parentesco con María Becerra. Lamentablemente respondiendo siempre con
        un no. Empecé en el mundo de la programación en el año 2022 haciendo
        programas para proyectos escolares, donde desde ese entonces investigo
        sobre todo siempre que puedo.
      </p>
      <br />
      <p>
        Estudio la carrera de Ingeniería en Sistemas en la Universidad de la
        Cuenca del Plata, actualmente estoy cursando el segundo año de la
        carrera.
      </p>
      <br />
      <p>
        Hoy en día tengo muchas metas por cumplir y muchos objetivos en
        desarrollo, el más grande en la actualidad es la empresa
        <span class="font-bold"
          ><a href="https://www.linkedin.com/company/byte-mate/">ByteMate</a
          ></span
        > que llevamos juntos con un equipo de trabajo formado en la Universidad.
      </p>
    </div>
    <div class=" flex items-center w-[1000px] h-[400px] p-3">
      <img src="https://picsum.photos/id/237/200/300" alt="perrito plus" class="rounded-full w-[260px] h-[260px]" />
    </div>
  </article>
</section>
