---
console.log('aa')
---
<header class="mx-auto bg-gray-700 max-h-20 flex justify-between">
    <div class="size-24 pl-10 py-3.5">
        <a href="#Home"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Joestar_Birthmark.svg" alt="Joestar Birthmark" class="cursor-pointer hover:scale-125"></img></a>   
    </div>
    <nav class="max-w-lg flex justify-end self-center">
        <ul class="flex justify-between text-white mr-28">
            <li class="ml-14"><a href="#Home">Home</a></li>
            <li class="ml-14"><a href="#About">About</a></li>
            <li class="ml-14"><a href="#Projects">Projects</a></li>
            <li class="ml-14"><a href="#Contacts">Contact</a></li>
        </ul>
    </nav>
</header>
