---
import Typed from "typed.js"


---

<main class="w-screen h-screen flex items-center content-center place-content-center flex-col px-5 py-5">
  <section class="flex w-full justify-around">
      <div class="flex items-center place-content-center flex-col">
           <h1 class="text-white text-4xl">Hello!</h1>
           </br>
           <h2 class="text-white text-4xl">
               Im Toby, a Web <span class="text-purple-500 text">Developer</span>
           </h2>
           <div class="w-full h-[100px] flex justify-center">
               <button class="hover:scale-105 mr-5">
                 <a href="https://www.linkedin.com/in/tobías-becerra-871438294/"  class="text-white"><img src="/linkedin.svg" alt="Linkedin" class="w-[50px] h-[50px]"></a>
               </button>
               <button class="hover:scale-105">
                <a href="https://github.com/TobyX73" class="text-white"><img src="/github.svg" alt="Github" class="w-[50px] h-[50px]"></a>
              </button>
           </div>
           <div class="w-full flex justify-center">
             <button class="text-black h-[40px] w-[200px] bg-purple-500 rounded-xl border-2 border-white hover:scale-105 font-bold hover:brightness-110 flex justify-center items-center">
            	 <a href="/CV_Becerra_Tobías.pdf" download="CVToby.pdf" class="">Dowloand my CV!</a>
               <img src="/descargar.png" alt="dowloandImg" class="w-[20px] h-[20px] ml-2">
             </button>
           </div>
      </div>
      <img src="/jotaro ora ora.gif" alt="ora" />
   </section>
</main>
