---

---

<main class="w-screen h-screen flex items-center content-center place-content-center flex-col px-5 py-5">
  <section class="flex w-full justify-around">
      <div class="flex items-center place-content-center flex-col">
           <h1 class="text-white text-4xl">Hi there! <img src="" alt=""></h1>
           </br>
           <h2 class="text-white text-4xl">
               Im Toby, a Web <span class="text-fuchsia-300 text">Developer</span>
           </h2>
           <div class="w-full h-[100px] flex justify-start">
               <button class="hover:scale-105 mr-5">
                 <a href="https://www.linkedin.com/in/tobías-becerra-871438294/"  class="text-white"><img src="/linkedin.svg" alt="Linkedin" class="w-[50px] h-[50px]"></a>
               </button>
               <button class="hover:scale-105">
                <a href="https://www.linkedin.com/in/tobías-becerra-871438294/" class="text-white"><img src="/github.svg" alt="Github" class="w-[50px] h-[50px]"></a>
              </button>
           </div>
        </div>
      <img src="/jotaro ora ora.gif" alt="ora" />
   </section>
</main>
