---
console.log("aa");
---

<header>
  <nav class="md:flex fixed bg-zinc-900 h-16 w-full flex justify-between px-12 py-3 items-center">
    <div class="w-12 h-12 md:block">
      <a href="#Home">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Joestar_Birthmark.svg"
          alt="Joestar Birthmark"
          class="cursor-pointer hover:scale-105"
        />
      </a>
    </div>
    <ul class="flex justify-between text-white">
      <li class="ml-4">
        <a href="#Home">
          <button
            class="relative py-2 px-8 text-black text-base font-bold nded-full overflow-hidden bg-white rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-purple-800 before:to-purple-500 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
          >
            Home
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="#About">
          <button
            class="relative py-2 px-8 text-black text-base font-bold rounded-full overflow-hidden bg-white transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-purple-800 before:to-purple-500 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
          >
            About
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="#Projects">
          <button
            class="relative py-2 px-8 text-black text-base font-bold rounded-full overflow-hidden bg-white transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-purple-800 before:to-purple-500 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
          >
            Projects
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="#Contacts">
          <button
            class="relative py-2 px-8 text-black text-base font-bold rounded-full overflow-hidden bg-white transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-purple-800 before:to-purple-500 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
          >
            Contact
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
