---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Navbar.astro'
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to my Portfolio.">
	<main>
	</main>
</Layout>

